<div class="discounts common-body">
	<h2>Акция 1</h2>
	Приведи пятерых друзей и сыграй бесплатно
	<br />
	Условия акции: приезжайте в компании пятерых друзей и один из вас сыграет бесплатно
	<br />

	<h2>Акция 2</h2>
	Подарочный сертификат
	<br />
	Не знаете что подарить своим друзьям на день рождения!?
	<br />
	Мини-гольф клуб "9 лунок" не бросит вас в трудную минуту и протянет вам свой ПОДАРОЧНЫЙ СЕРТИФИКАТ помощи!!!
	<br />
	Дарите! Удивляйте! Отдыхайте!
	<br />
	<div class="for-image">
		<img src="~/Content/images/discounts/discounts_01.jpg" />
	</div>

</div>