<div class="discounts common-body">
	СЛЕДУЙ ЗА НАМИ:
	<div class="social-icons">
		<a href="https://instagram.com/9lunok/"
		   target="_blank">
			<img src="~/Content/images/discounts/inst.png" />
		</a>
		<a href="https://vk.com/9lunok"
		   target="_blank">
			<img src="~/Content/images/discounts/vk.png" />
		</a>
	</div>

	<h2>Играй БЕСПЛАТНО!</h2>
	Приведи пятерых друзей и сыграй бесплатно!
	<br />
	Условия:
	<ol>
		<li>Звони по телефону 60-69-95 или 249-909,  записывайся на удобное время, приводи ПЯТЕРЫХ друзей и играй бесплатно.</li>
		<li>
			Приезжай в парк в заказанное время в компании ПЯТЕРЫХ друзей и сам сыграешь бесплатно!
		</li>
	</ol>

	<h2>ДЕНЬ РОЖДЕНИЯ</h2>
	Хочешь, чтобы твой День Рождения запомнился надолго тебе и твоим друзьям?
	<br />
	Отмечай свой  День Рожденья в парке «ZaDoor»!
	<br />
	Приезжай к нам, ешь, пей, веселись и конечно же играй в МИНИ-ГОЛЬФ!
	<br />
	Именинник  играет БЕСПЛАТНО!
	<br />

	<h2>Подарочный сертификат</h2>
	Не знаешь, что подарить своему другу или подруге на день рождения!?
	<br />
	Мини-гольф клуб "9 лунок" не бросит тебя в трудную минуту и протянет свой ПОДАРОЧНЫЙ СЕРТИФИКАТ помощи!!!
	<br />
	Дари! Удивляй! Отдыхай!

	<br />
	<br />

	<div class="for-image">
		<img src="~/Content/images/discounts/discounts_01.jpg" />
	</div>

</div>