<div class="gallery common-body">

	<ul rn-carousel
		rn-carousel-controls
		rn-carousel-auto-slide
		rn-carousel-transition="slide"
		rn-carousel-duration="500"
		class="image image-carusel-custom">

		<li ng-repeat="img in imgPaths">
			<span class="helper"></span>
			<img ng-src="{{img}}" />
		</li>
	</ul>

</div>