<div class="gallery common-body">
	
	<ul rn-carousel
		rn-carousel-controls
		rn-carousel-auto-slide
		rn-carousel-transition="slide"
		rn-carousel-duration="500"
		class="image image-carusel-custom">

		<li><img src="~/Content/images/gallery/01.jpg" /></li>
		<li><img src="~/Content/images/gallery/02.jpg" /></li>
		<li><img src="~/Content/images/gallery/03.jpg" /></li>
		<li><img src="~/Content/images/gallery/04.jpg" /></li>
		<li><img src="~/Content/images/gallery/05.jpg" /></li>
		<li><img src="~/Content/images/gallery/06.jpg" /></li>
		<li><img src="~/Content/images/gallery/07.jpg" /></li>
		<li><img src="~/Content/images/gallery/08.jpg" /></li>
		<li><img src="~/Content/images/gallery/09.jpg" /></li>
		<li><img src="~/Content/images/gallery/10.jpg" /></li>
		<li><img src="~/Content/images/gallery/11.jpg" /></li>
		<li><img src="~/Content/images/gallery/12.jpg" /></li>
		<li><img src="~/Content/images/gallery/13.jpg" /></li>
		<li><img src="~/Content/images/gallery/14.jpg" /></li>
		<li><img src="~/Content/images/gallery/15.jpg" /></li>
		<li><img src="~/Content/images/gallery/16.jpg" /></li>
		<li><img src="~/Content/images/gallery/17.jpg" /></li>
	</ul>

</div>