<div class="minigolf common-body">
	<h2>
		ЦЕЛЬ ИГРЫ
	</h2>
	Цель игры – попасть мячом в лунку, произведя при этом как можно меньше ударов. Все лунки пронумерованы. На пути от первой к последней дорожке игроки должны соблюдать строгую очередность лунок. На каждой площадке имеются закрепленные препятствия. При прохождении одной дорожки можно нанести не более шести ударов, за каждый дается одно очко. Если после шести ударов мяч все еще не в лунке, то начисляется дополнительное очко. Выигрывает тот, кто прошел все лунки, набрав наименьшее количество очков.

	<h2>ПРАВИЛА ИГРЫ</h2>
	<ol>
		<li>Смысл игры состоит в том, чтобы забить свой мяч во все лунки игрового поля. И не руками, а клюшкой.</li>
		<li>Лунки помечены номерами. Начинайте с первой лунки.</li>
		<li>Делать первый удар на каждой дорожке нужно с линии старта или «ти» - это воображаемая линия в 10 см от края дорожки.</li>
		<li>Последующие удары делаются с того места, где остановился мяч.</li>
		<li>Очередность игры (кто за кем выполняет удары) определяется жеребьевкой.</li>
		<li>Если мяч остановился около борта или препятствия, то для удобства удара его можно отодвинуть на 10 см или на расстояние, равное головке клюшки.</li>
		<li>Препятствие считается пройденным, а лунка засчитанной, когда мяч остановился на дне лунки.</li>
		<li>Игрокам выдаются карандаши или ручки и специально размеченная игровая карточка. В карточку рядом с номером лунки надо честно записывать: с какого раза игрок попал в лунку.</li>
		<li>Во время игры запрещается: наступать на дорожки, размахивать клюшкой, отвлекать игроков и мешать им выполнять удары.</li>
		<li>Побеждает тот, кто прошел все лунки, сделав наименьшее количество ударов</li>
	</ol>

</div>