<div class="places common-body">
	<div>
		<span>
			Рады приветствовать на первой в Саратове площадке для игры в мини-гольф.
		</span>
		<br />
		<span>
			На данный момент наша площдка состоит из 15 дорожек разной длинны и формы, она находится на территории парка «ZaDoor» на Кумысной поляне на против лагеря «Дубки»
		</span>
	</div>

	<br />
	Карта
	<br />

	<ui-gmap-google-map center='map.center' zoom='map.zoom'>
		<ui-gmap-marker idkey='map.marker.idKey'
						coords='map.marker.coords'></ui-gmap-marker>
	</ui-gmap-google-map>

	<div>
		<span>
			Как к нам добраться на общественном транспорте:
		</span>
		<br />
		<span>
			От пересечения ул. Б. Садовая и Новоузенская ходит автобус № 27 на нем вам нужно доехать до остоновки «детский лагерь «Дубки» и пройти 50 метров в сторону парка.
		</span>
		<br />
		<span>
			Стоимость игры вы можете найти в разделе «Наши услуги»
		</span>
	</div>

</div>