<div class="places common-body">
	<span>Поиграть в МИНИ-ГОЛЬФ в Саратове теперь можно у нас!</span>

	<br />

	<span>Площадка для игры в МИНИ-ГОЛЬФ расположена в парке «ZaDoor» на Кумысной поляне и включает в себя 14 дорожек разной длины, формы  и уровня сложности.</span>

	<br />
	<br />

	<span>
		Перед поездкой просим Вас позвонить нам и договориться о времени.
	</span>

	<br />
	<br />

	<span>
		Схема дорожек
	</span>

	<br />
	<br />

	<img class="schema"
		 src="~/Content/images/places/schema.jpg" />

	<br />
	<br />

	<span>
		Предварительная запись по телефону <b>60-69-95</b> или <b>249-909</b>.
	</span>

	<br />
	<br />

	<div>
		<span>
			К нам можно добраться на общественном транспорте:
		</span>
		<br />
		<span>
			Автобусом №27, который отправляется от 3 Сов. больницы (пересечение ул. Новоузенская и ул. Б. Садовая., до остановки «ЛАГЕРЬ ДУБКИ».
			<br />
			<br />
			График движения автобуса с 9:00 до 19:00 каждые 30 мин.
			<br />
			Стоимость проезда на такси от центра города до лагеря «Дубки» колеблется от 200 до 250 рублей.
		</span>
	</div>

	<br />

	<div class="for-map-container">
		<ui-gmap-google-map center='map.center' zoom='map.zoom'>
			<ui-gmap-marker idkey='map.marker.idKey'
							coords='map.marker.coords'></ui-gmap-marker>
		</ui-gmap-google-map>
	</div>

</div>