<div class="places common-body">
	<span>
		Рады приветствовать на первой в Саратове площадке для игры в мини-гольф.
		<br />
		На данный момент наша площдка состоит из 15 дорожек разной длинны и формы, она находится на территории парка «ZaDoor» на Кумысной поляне на против лагеря «Дубки»
		<br />
		Карта
		<br />
		Как к нам добраться на общественном транспорте:
		<br />
		От пересечения ул. Б. Садовая и Новоузенская ходит автобус № 27 на нем вам нужно доехать до остоновки «детский лагерь «Дубки» и пройти 50 метров в сторону парка.
		<br />
		Стоимость игры вы можете найти в разделе «Наши услуги»
	</span>
</div>