<div class="services common-body">
	<h2>ИГРА НА СТАЦИОНАРНОЙ ПЛОЩАДКЕ В ПАРКЕ  «ZaDoor»</h2>

	<b>Фотография площадки и схема расположения и прохождения дорожек</b>

	<br />
	Стоимость игры:
	<table class="table-bordered">
		<tr>
			<td>Время игры</td>
			<td>Стоимость/1 чел, руб</td>
			<td>Стоимость для держателей карт, руб</td>
		</tr>
		<tr>
			<td>30 минут</td>
			<td>150</td>
			<td>130</td>
		</tr>
		<tr>
			<td>1 час</td>
			<td>250</td>
			<td>210</td>
		</tr>
		<tr>
			<td>Весь день</td>
			<td>400</td>
			<td>350</td>
		</tr>
	</table>

	<br />
	Стоимость клубной карты 200 руб
	<br />
	<br />

	Так же есть возможность проведения корпоративных и групповых мероприятий по предзаказу.
	<u>Для заказов от 8 человек для игроков действуют скидки как для держателей карт</u>.
	<br />

	<h2>АРЕНДА МИНИ-ГОЛЬФА НА ВЫЕЗДНОЕ МЕРОПРИЯТИЕ</h2>

	Аренда  мини-гольфа  на  мероприятие  –  это  отличное  решение  для  Вашего  праздника.
	Корпоративные  мероприятия,  дни  рожденья,  бизнес  тренинги,  тимбилдинги, презентации,
	вечеринки  -  с  помощью  мини-гольфа  можно  сделать  эти  мероприятия  незабываемыми.
	Мини-гольф невероятно веселая и интересная игра – и отличный способ занять гостей.

	<br />
	<br />

	<div class="devices">
		<div>
			Оборудование
			<ul>
				<li>Дорожки для мини-гольфа длиной 3м</li>
				<li>Клюшки</li>
				<li>Мячи</li>
				<li>Карточки для ведения счета</li>
			</ul>
		</div>
		<div>
			<img src="~/Content/images/services/01.png" />
		</div>
	</div>

	<h3>Стоимость аренды оборудования</h3>
	Комплект 3 дорожки (3м) - 3000 руб / 2 часа (+ 1000 руб за каждый след. час)
	<br />
	Комплект 6 дорожек (3м) - 5000 руб / 2 часа (+ 1000 руб за каждый след. час)
	<br />
	<br />
	В стоимость входит:
	<ul>
		<li>Доставка</li>
		<li>Монтаж/демонтаж</li>
		<li>Инвентарь (дорожки, клюшки (6 штук), мячики)</li>
		<li>Инструктаж</li>
	</ul>

	<h3>Необходимая площадь для организации мероприятия:</h3>
	3  дорожки S=6-9 м2
	<br />
	6 дорожек S=20-25 м2
	<br />
	Доставка по Саратову и Энгельсу входит в стоимость аренды.
	<br />
	Доставка по Саратовской области обговаривается отдельно.
	<br />

	<h3>ПРОДАЖА ОБОРУДОВАНИЯ</h3>
	<span>Мы предлагаем Вам оборудовать площадку для модульного мини гольфа или приобрести одну или несколько дорожек для мини-гольфа,  а так же все необходимое для игры оборудование: клюшки, мячи, препятствия, подставки для клюшек и мячей. Вы можете приобрести дорожки как для личного пользования и установить их у себя на приусадебном участке, и наслаждаться игрой самому и в компании друзей, так и для своего бизнеса, об этом расскажем поподробнее.</span>
	<h3>Для чего это нужно и какая от этого польза Вашему бизнесу</h3>
	Площадка по мини-гольфу подойдет для бизнеса, связанного с отдыхом на природе и стремящегося предложить своим клиентам различные дополнительные услуги и развлечения , например, усадьбы загородного туризма, турбазы, дома отдыха и загородные клубы,  кафе и рестораны расположенные на природе.  Площадки по мини-гольфу могут быть расположены также и на территории гостиниц, отелей, кемпингов или развлекательных центров.
	<br />
	<br />
	Мини-гольф - это отличная возможность для Вашего бизнеса ВЫДЕЛИТЬСЯ среди конкурентов, а значит увеличить свои доходы, привлечь новых клиентов, желающих отлично провести время на природе, а также увеличить лояльность уже существующих клиентов, и они будут возвращаться к Вам снова и снова.
	<br />
	<br />
	<div class="separate-cells">
		<div class="separate-cells">
			<div>
				<img src="~/Content/images/services/02.jpg" />
			</div>
			<div>
				<img src="~/Content/images/services/03.jpg" />
				<img src="~/Content/images/services/01.jpg" />
			</div>
		</div>
		<div>
			<h3>Что для этого нужно?</h3>
			Если у Вас есть свободная площадь порядка 100-300 м2 мы можем оборудовать вам площадку из 9, 12 или 18 лунок с дорожками длиной от 4,5 до 9 м
			Но если Вы не располагаете такой площадью, мы можем предложить Вам дорожки длинной 3 м.
			Площадка из 9 дорожек по 3м займет площадь от 30 до 50 м2 в зависимости от конфигурации дорожек.
		</div>
	</div>

	<h3>Стоимость нашего оборудования</h3>

	<table class="table-bordered">
		<tr>
			<td>Размеры дорожки (м)</td>
			<td>Кол-во дорожек (шт)</td>
			<td>Цена у нас</td>
			<td>Цена у конкурентов</td>
			<td>Срок изготовления</td>
		</tr>
		<tr>
			<td rowspan="5">3 х 0,56</td>
		</tr>
		<tr>
			<td>1</td>
			<td>8 000</td>
			<td>17 000</td>
			<td>2-3 дня</td>
		</tr>
		<tr>
			<td>3</td>
			<td>21 000</td>
			<td>45 000</td>
			<td>2-4 дня</td>
		</tr>
		<tr>
			<td>6</td>
			<td>40 000</td>
			<td>78 000</td>
			<td>4-6 дней</td>
		</tr>
		<tr>
			<td>9</td>
			<td>59 000</td>
			<td>118 000</td>
			<td>5-7 дней</td>
		</tr>

		<tr>
			<td rowspan="5">4,5 х 0,81</td>
		</tr>
		<tr>
			<td>1</td>
			<td>15 000</td>
			<td>19 000</td>
			<td>2-3 дня</td>
		</tr>
		<tr>
			<td>3</td>
			<td>39 000</td>
			<td></td>
			<td>3-5 дней</td>
		</tr>
		<tr>
			<td>6</td>
			<td>75 000</td>
			<td></td>
			<td>5-7 дней</td>
		</tr>
		<tr>
			<td>9</td>
			<td>107 000</td>
			<td>190 000</td>
			<td>7-14 дней</td>
		</tr>

		<tr>
			<td rowspan="5">6 х 0,81</td>
		</tr>
		<tr>
			<td>1</td>
			<td>20 000</td>
			<td>23 000</td>
			<td>2-3 дня</td>
		</tr>
		<tr>
			<td>3</td>
			<td>48 000</td>
			<td></td>
			<td>3-5 дней</td>
		</tr>
		<tr>
			<td>6</td>
			<td>94 000</td>
			<td></td>
			<td>5-10 дней</td>
		</tr>
		<tr>
			<td>9</td>
			<td>136 000</td>
			<td>247 000</td>
			<td>7-14 дней</td>
		</tr>
	</table>

	<br />
	При заказе любых 9 дорожек В ПОДАРОК 3 клюшки и 3 мячика разных цветов
	Мини-гольф становится все более популярным в России.
	Не упустите свой шанс ВЫДЕЛИТЬСЯ
	<br />
	Закажите Комплект из 9 дорожек для мини-гольфу СЕЙЧАС и получите ДОСТАВКУ* И МОНТАЖ бесплатно.
	<br />
	<br />
	<b>Большие фотографии всех дорожек и поотдельности каждой со схемой и размерами дорожки</b>

</div>