@font-face {
	font-family: 'Geoumetric706';
	src: url('/Content/fonts/Geoumetric706.otf') format('opentype');
}

@font-face {
	font-family: 'NautilusPompilius';
	src: url('/Content/fonts/NautilusPompilius.otf') format('opentype');
}

body {
	font-family: 'Geoumetric706', 'Segoe UI';

	.nautilus {
		font-family: 'NautilusPompilius', 'Segoe UI';
	}
}


@import "layout/header";
@import "layout/body";
@import "layout/main";
