@font-face {
	font-family: 'Geoumetric706';
	src: url('/Content/fonts/Geoumetric706.otf') format('opentype');
}

@font-face {
	font-family: 'NautilusPompilius';
	src: url('/Content/fonts/NautilusPompilius.otf') format('opentype');
}

body {
	font-family: 'Geoumetric706', 'Segoe UI';

	.nautilus {
		font-family: 'NautilusPompilius', 'Segoe UI';
	}
}


@import "layout/header.less";
@import "layout/body.less";
@import "layout/bottom";

@import "layout/main.less";
@import "main/main.index.less";

@import "layout/common-styles.less";
@import "places/places.less";
@import "services/services.less";
@import "gallery/gallery.less";
