@import "layout.constants.less";
@import "../basics/colors.less";

.main {
	position: absolute;
	top: @main-margin-top;
	bottom: @main-margin-bottom;
	left: 0;
	right: 0;

	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	/* extra */
	@media (min-width: 1400px) {
		background-image: url('/Content/images/app/bg-big.jpg');
		min-height: @main-extra-min-height;
	}
	/* lg */
	@media (min-width: 1200px) and (max-width: 1399px) {
		background-image: url('/Content/images/app/bg-big.jpg');
		min-height: @main-lg-min-height;
	}
	/* md */
	@media (min-width: 992px) and (max-width: 1199px) {
		background-image: url('/Content/images/app/bg-md.jpg');
		min-height: @main-md-min-height;
	}
	/* sm */
	@media (min-width: 768px) and (max-width: 991px) {
		background-image: url('/Content/images/app/bg-sm.jpg');
		background-size: cover;
		min-height: @main-sm-min-height;
	}
	/* xs */
	@media (max-width: 767px) {
		background-image: url('/Content/images/app/bg-xs.jpg');
		background-size: cover;
		min-height: @main-xs-min-height;
	}
	/* XS Portrait */
	@media (max-width: 479px) {
		top: @main-margin-top-xs;
		bottom: auto;
		background-image: url('/Content/images/app/bg-xs.jpg');
		height: 480px;
	}
}
